<form [formGroup]="sendForm" *ngIf="sendForm" [ngClass]="{ 'mass-transaction': transfersCount > 1 }">
    <div class="transfers" fxLayout="column">
        <div *ngFor="let transferGroup of sendForm.controls.transfers.controls; index as i"
            [formGroup]="transferGroup" class="transfer-row" [ngClass]="{'visible': i === transferVisible}">
            <mat-form-field class="recipient">
                <mat-label>
                    Recipient {{transfersCount > 1 ? i + 1 : ''}}
                </mat-label>
                <input matInput formControlName="recipient" required />
                <mat-error *ngIf="recipientErrors && recipientErrors.invalidAddress">Invalid address</mat-error>
    