:host {
  display: block;
  width: 550px;
}
h2 {
  font-weight: 400;
  font-size: 18px;
  color: #3d5170;
}

mat-dialog-content {
  text-align: center;
  color: #3d5170;
  text-align: center;
  .captcha {
    padding: 32px 0;
  }

