<div mat-dialog-title>Start lease</div>
<mat-dialog-content>
  <ng-container *ngIf="!isNodeSelected">

    <ng-container *ngIf="communityNodesCustom.length>0">
      <table mat-table [dataSource]="communityNodesCustom">
        <ng-container matColumnDef="name">

          <td mat-cell *matCellDef="let element" class="noPaddingLeft">
            <strong>{{element.name}}</strong><br />
            <small>{{element.comment}}</small>
          </td>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCustom;" (click)="selectNode(row)"></tr>

      </table>
      <table mat-table [dataSource]="communityNodesLoaded">
        <ng-container matColumnDef="name">
          <td mat-cell *matCellDef="let element" class="noPaddingLeft">
            <strong>{{element.name}}</strong>
            <a (click)="$event.stopPropagation()" href='{{element.website}}' target="_blank" class="btn btn-link"><img src="assets/icons/external-link.svg" class="imgLink" alt="External link" /></a>
            <br /><span class="nodeAdr"> {{element.address}}</span>
            <!--<br /><small>Payout: {{element.sharing}}</small>-->
          </td>

        </ng-container>
        <ng-container matColumnDef="address" class="noPaddingRight">
          <td mat-cell *matCellDef="let element" class="text-right" hidden>
         